# GRUB 配置
set default=0
set timeout=5
set timeout_style=menu

insmod all_video
insmod gfxterm
insmod serial

serial
terminal_input serial console
terminal_output serial console

menuentry "JTermOS 1.0 (Linux)" {
    linux /boot/bzImage console=tty0 console=ttyS0,115200 quiet loglevel=3 rdinit=/sbin/init
    initrd /boot/initramfs.cpio.gz
    boot
}

menuentry "JTermOS 1.0 (rescue shell)" {
    linux /boot/bzImage console=tty0 console=ttyS0,115200 loglevel=7 rdinit=/bin/sh
    initrd /boot/initramfs.cpio.gz
    boot
}