# GRUB 配置  —— JTermOS 1.0 beta1
set default=0
set timeout=5
set timeout_style=menu

insmod all_video
insmod gfxterm
insmod png
insmod font
insmod serial

serial
set gfxmode=1024x768x32,auto
set gfxpayload=keep
terminal_input console serial
terminal_output gfxterm serial

# 开机图形标志
background_image /boot/grub/logo.png

# 用文件名可靠定位 root（CD 引导时避免设备号错乱）
search --no-floppy --set=root --file /boot/bzImage

menuentry "JTermOS 1.0 beta1" {
    linux /boot/bzImage console=ttyS0,115200 console=tty0 loglevel=7 nmi_watchdog=0 random.trust_cpu=on rdinit=/sbin/init
    initrd /boot/initramfs.cpio.gz
    boot
}

menuentry "JTermOS 1.0 beta1 (verbose / rescue shell)" {
    linux /boot/bzImage console=ttyS0,115200 console=tty0 loglevel=7 nmi_watchdog=0 rdinit=/bin/sh
    initrd /boot/initramfs.cpio.gz
    boot
}
